:root {
    --text-color-primary: #333333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background: rgba(250, 250, 250)
}

.color-black {
    color: #333333;
}

.btn {
    padding: 9px 25px 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    text-decoration: none;
    color: #ffff;
}

.header {
    padding: 20px;
    /* font-size: 30px; */
    font-weight: bold;
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}

.overlay__buttons {
    /* display: flex;
    justify-content: space-between; */
    margin-top: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    /* background-color: #24252a00; */
}

.logo {
    cursor: pointer;
    transition: color 0.3s ease 0s;
    text-decoration: none;
    color: var(--text-color-primary);
}

.logo img {
    border-radius: 50%;
    max-height: 40px;
}

.nav__links a,
.cta,
.overlay__content a {
    font-weight: 500;
    color: var(--text-color-primary);
    text-decoration: none;
}

.nav__links {
    list-style: none;
    display: flex;
}

.nav__links li {
    padding: 0px 20px;
}

.nav__links li a {
    transition: color 0.3s ease 0s;
    /* font-size: 20px; */
}

.nav__links li a:hover {
    color: #0088a9;
}

.cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
}

.cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
}


/* Mobile Nav */

.menu {
    display: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    transition: width 0.5s ease 0s;
}

.overlay--active {
    width: 100%;
}

.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: color 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}

.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

@media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
        display: none;
    }
    .menu {
        display: initial;
    }
}

.thump-section {
    /* random image fitting the page */
    background-image: url("https://source.unsplash.com/random/1920x1080");
    /* background-image: url("https://images.unsplash.com/photo-1518791841217-8f162f1e1131?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80"); */
    background-repeat: no-repeat;
    /* height: 100%; */
    height: 500px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.thump-section h1 {
    color: #ffff;
    text-shadow: 2px 2px 4px #000000;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}

.thump-section p {
    text-shadow: 2px 2px 4px #000000;
    color: #ffff;
    font-size: 20px;
    margin-bottom: 20px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #e0e0e052;
    border-radius: 10px;
}

.contact-image {
    height: 60px;
    border-radius: 50%;
}

.contact p {
    text-align: center;
}

.title {
    font-size: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}